footer {
    margin: 40px 30px 20px;
    text-align: center;
    color: #ccc;
    border-top: 1px solid #efefef;
    padding: 10px;
    font-size: 13px;
    letter-spacing: 1px;
    clear: both;
    font-family: "Livvic", sans-serif;
}